/* BUTTON
================================================================================ */
.e-button {
  appearance: none;
  position: relative;
  display: inline-flex;
  margin-bottom: 1rem;
  padding: 0.5rem 2em;
  color: var(--c_alpha);
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--c_background);
  transition: color 0.15s ease, background-color 0.15s ease;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  @media (--b_sm) {
    padding: 0.5rem 3em;
  }

  &:hover {
    background-color: var(--c_detail);
  }

  &::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    bottom: 4px;
    right: 4px;
    z-index: 1;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
  }

  &:focus::after {
    outline: solid 1px;
  }

  &:not(.disabled):active {
    margin-top: 3px;
    margin-bottom: calc(1rem - 3px);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  }

  &:disabled,
  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  [data-theme='dark'] & {
    color: var(--c_alpha_light);
    background-color: var(--c_detail_low);

    &:hover {
      background-color: var(--c_detail);
    }
  }

  &.primary {
    color: white;
    background-color: var(--c_alpha);

    &:hover {
      background-color: var(--c_alpha_dark);
    }

    [data-theme='dark'] & {
      background-color: var(--c_alpha);

      &:hover {
        background-color: var(--c_alpha_dark);
      }
    }
  }

  &.secondary {
    color: white;
    background-color: var(--c_beta);

    &:hover {
      background-color: var(--c_beta_dark);
    }

    [data-theme='dark'] & {
      background-color: var(--c_beta);

      &:hover {
        background-color: var(--c_beta_dark);
      }
    }
  }
}
