/* BASE STYLES & VERTICAL RHYTHM
================================================================================ */

/* Base */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  background: var(--c_background);
}

/* Box Sizing */

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Margins and Height */

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ol,
ul,
dl,
table,
form,
menu,
blockquote,
fieldset,
pre,
address {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

/* Proximity */

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 1.5rem;
}

/* Lists */

ol,
ul,
dl {
  padding-left: 0.75rem;
}

li {
  margin-top: 0.25rem;

  > ol,
  > ul,
  > dl {
    margin-bottom: 0;
  }
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

dd {
  margin-left: 0.75rem;
}

/* Tables */

table {
  border-collapse: collapse;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid var(--c_alpha);

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

tfoot {
  th,
  td {
    border-bottom: none;
  }
}

@media (--b_xs) {
  table.collapse {
    display: block;

    thead,
    caption,
    tfoot,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Hide table headers */
    thead tr {
      position: absolute;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap;
    }

    th {
      padding-left: 0;
      padding-right: 0;
      border-bottom: 1px solid var(--c_alpha);
    }

    td,
    td:first-child {
      position: relative;
      padding-left: calc(50% + 0.5rem);
      padding-right: 0;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      content: attr(data-thead);
      top: 0;
      left: 0;
      padding: 0.5rem 0.5rem 0.5rem 0;
      width: calc(50% - 1rem);
      font-weight: bold;
      white-space: nowrap;
    }
  }
}

/* Forms */

button,
input,
optgroup,
select,
textarea {
  line-height: 1rem;
  font-size: 100%;
}

fieldset {
  padding: 0 1rem;
  border: none;

  legend {
    margin-left: -0.5rem;
    padding: 0 0.5rem;
  }
}

hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid var(--c_alpha);
}

/* Quotes and Code */

blockquote {
  margin-left: 0.75rem;
  padding-left: 0.75rem;
  border-left: 1px solid var(--c_alpha);
}

pre {
  display: block;
  padding: 0.5rem;
  overflow: auto;
  color: var(--c_beta);
  white-space: pre;
  border: 1px solid white;
  background: var(--c_code);
  border-radius: 4px;
}

code {
  margin: 0 0.2em;
  padding: 0.2em 0.5em;
  color: var(--c_beta);
  font-size: 0.875em;
  border: 1px solid var(--c_alpha);
  background: var(--c_code);
}

pre > code {
  padding: 0;
  border: none;
}
