/* GRID
================================================================================ */

.tu-grid {
  @mixin clearfix;

  display: flex;
  margin: 0;
  padding: 0 0.25rem;
  flex-flow: row wrap;

  @media (--b_sm) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  /* PARENTS & LAYOUTS
  -------------------------------------------------------------------------------- */

  .tu-container &,
  &.layout-no-margin {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    padding: 0;
  }

  /* STYLES
  -------------------------------------------------------------------------------- */

  &.style-uniform {
    > * {
      flex-grow: 0;
    }
  }

  &.style-start {
    justify-content: flex-start;

    > * {
      flex-grow: 0;
    }
  }

  &.style-center {
    justify-content: center;

    > * {
      flex-grow: 0;
    }
  }

  &.style-end {
    justify-content: flex-end;

    > * {
      flex-grow: 0;
    }
  }

  > * {
    position: relative;
    margin: 0 0.5rem 1rem;
    width: calc(100% - 1rem);
    min-height: 1px;
    float: left; /* IE10 Fix */
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;

    &.tu-grid {
      margin: 0;
      padding: 0;
    }

    &.layout-half {
      @mixin colspan 12;

      @media (--b_sm) {
        @mixin colspan 6;
      }
    }

    &.layout-third {
      @mixin colspan 12;

      @media (--b_sm) {
        @mixin colspan 6;
      }

      @media (--b_md) {
        @mixin colspan 4;
      }
    }

    &.layout-two-thirds {
      @mixin colspan 12;

      @media (--b_md) {
        @mixin colspan 8;
      }
    }
  }

  /* DEVICES
  ================================================================================ */

  /* ALL DEVICES
  -------------------------------------------------------------------------------- */
  @mixin columns;

  /* PHABLETS AND UP
  -------------------------------------------------------------------------------- */
  @media (--b_sm) {
    @mixin columns sm;
  }

  /* TABLETS AND UP
  -------------------------------------------------------------------------------- */
  @media (--b_md) {
    @mixin columns md;
  }

  /* LAPTOPS AND UP
  -------------------------------------------------------------------------------- */
  @media (--b_lg) {
    @mixin columns lg;
  }

  /* DESKTOPS AND UP
  -------------------------------------------------------------------------------- */
  @media (--b_xl) {
    @mixin columns xl;
  }
}
