.tu-textfield {
  position: relative;
  margin-bottom: 1rem;

  /* FLOATING LABEL
  ================================================================================ */

  &--label {
    position: absolute;
    top: -0.35rem;
    left: 0.5rem;
    right: 0.5rem;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    transition: all calc(var(--t_animation) * 0.5) linear;
    transform: translateY(0.85rem);

    &:empty {
      display: none;
    }

    &.floating {
      font-style: normal;
      font-size: 0.75em;
      transform: translateY(0.35rem);
    }
  }

  &--label.floating + &--input::placeholder {
    color: black; /* IE Fix */
    color: initial;
  }

  /* INPUT FIELD
  ================================================================================ */

  &--input {
    appearance: none;
    padding: 0.5rem;
    width: 100%;
    height: 2rem;
    line-height: 1rem;
    outline: none;
    text-overflow: ellipsis;
    border: 1px solid var(--c_detail_low);
    background-color: var(--c_background);

    [data-theme='dark'] & {
      background-color: var(--c_detail);
    }

    &.labelled {
      padding: 0.85rem 0.5rem 0.15rem;

      &::placeholder {
        color: rgba(0, 0, 0, 0);
      }
    }

    &[aria-label] {
      padding-right: 1.5rem;
    }

    &::placeholder {
      transition: color calc(var(--t_animation) * 0.5) linear;
    }

    &:focus {
      padding-left: calc(0.5rem - 2px);
      border-left-width: 3px;
      border-left-color: var(--c_alpha);
    }

    &::-ms-clear {
      display: none;
    }
  }

  /* HELPER
  ================================================================================ */

  &--helper {
    position: absolute;
    right: 0;
    padding: 0.5rem 0.25rem;
    width: 1.5rem;
    height: 2rem;
    cursor: pointer;

    &.no-events {
      pointer-events: none;
    }
  }

  /* DESCRIPTION
  ================================================================================ */

  &--description {
    display: block;
    margin-bottom: 0;
    padding: 0.5rem;
    border: 1px solid var(--c_detail_low);
    border-top: none;

    &-toggler {
      position: absolute;
      right: 0;
      padding: 0.5rem 0.25rem;
      width: 1.5rem;
      height: 2rem;
      cursor: pointer;
      fill: var(--c_alpha);
      border: 1px solid rgba(0, 0, 0, 0);

      &:focus {
        outline: none !important;
        fill: var(--c_text_alt);
        background-color: var(--c_alpha);
      }
    }
  }

  /* ERROR
  ================================================================================ */

  &--error {
    position: relative;
    display: inline-flex;
    padding: 0.25rem 0;
    color: var(--c_invalid);

    &::before {
      @mixin iconBase;

      content: var(--i_warning);
      margin-right: 0.25em;
      width: 1em;
      line-height: 1em;
      flex-shrink: 0;
      font-size: 1.5em;
      text-align: center;
      vertical-align: middle; /* IE10 Fix */
    }
  }

  /* STATES
  ================================================================================ */

  @define-mixin state $color {
    & .tu-textfield--label {
      color: $color;
    }

    & .tu-textfield--input {
      border-left-color: $color;
    }
  }

  &.focused {
    @mixin state var(--c_alpha);
  }

  &.valid {
    @mixin state var(--c_valid);
  }

  &.invalid {
    @mixin state var(--c_invalid);
  }

  &.disabled {
    @mixin state rgba(0, 0, 0, 0.5);

    & .tu-textfield--input {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.5);
      border-color: rgba(0, 0, 0, 0.5);
      border-style: dashed;
    }
  }
}
